<ul class="social-media-list">
  {%- if site.github_username -%}

    {%- if site.github_repository -%}
    <li>
      <a href="https://github.com/{{ site.github_username }}/{{ site.github_repository| cgi_escape | escape }}">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg>
        <span class="username">
          {{ site.github_repository| escape }}
        </span>
      </a>
    </li>
    {%- endif -%}

    <li>
      <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg>
        <span class="username">
          {{ site.github_username| escape }}
        </span>
      </a>
    </li>
  {%- endif -%}
</ul>